In [30]:
import pandas as pd
dic = {"fruits":["mango","apple","banana","papaya"],
        "price":[100,150,50,30],
        "quantity":[10,15,10,3]}
df1 = pd.DataFrame(dic)
print(df)
df2 = df1.copy()
df2.loc[0,"price"] = 120
df2.loc[1,"price"] = 130
df2.loc[2,"price"] = 50
df2.loc[3,"price"] = 140
df2.loc[0,"quantity"] = 20
df2.loc[1,"quantity"] = 25
df2.loc[2,"quantity"] = 10
df2.loc[3,"quantity"] = 30
print(df2)

   fruits  price  quantity
0   mango    100        10
1   apple    150        15
2  banana     50        10
3  papaya     30         3
   fruits  price  quantity
0   mango    120        20
1   apple    130        25
2  banana     50        10
3  papaya    140        30

In [36]:
print(df1.compare(df2))
print(df1.compare(df2,keep_equal = True))
print(df1.compare(df2,keep_equal = False))

print(df1.compare(df2,keep_shape = True))  # true ,means both of these data are same values show NaN
print(df1.compare(df2,keep_shape = False))

   price        quantity
    self  other     self other
0  100.0  120.0     10.0  20.0
1  150.0  130.0     15.0  25.0
3   30.0  140.0      3.0  30.0
  price       quantity
   self other     self other
0   100   120       10    20
1   150   130       15    25
3    30   140        3    30
   price        quantity
    self  other     self other
0  100.0  120.0     10.0  20.0
1  150.0  130.0     15.0  25.0
3   30.0  140.0      3.0  30.0
  fruits        price        quantity
    self other   self  other     self other
0    NaN   NaN  100.0  120.0     10.0  20.0
1    NaN   NaN  150.0  130.0     15.0  25.0
2    NaN   NaN    NaN    NaN      NaN   NaN
3    NaN   NaN   30.0  140.0      3.0  30.0
   price        quantity
    self  other     self other
0  100.0  120.0     10.0  20.0
1  150.0  130.0     15.0  25.0
3   30.0  140.0      3.0  30.0

In [32]:
print(df1.compare(df2,align_axis = 0))

         price  quantity
0 self   100.0      10.0
  other  120.0      20.0
1 self   150.0      15.0
  other  130.0      25.0
3 self    30.0       3.0
  other  140.0      30.0