In [24]:
import pandas as pd
data  = pd.read_excel("ESD.xlsx")
print(data.head(10))
print(data.tail(10))

     EEID        Full Name                 Job Title  Department  \
0  E02387      Emily Davis                Sr. Manger          IT
1  E04105    Theodore Dinh       Technical Architect          IT
2  E02572     Luna Sanders                  Director     Finance
3  E02832  Penelope Jordan  Computer Systems Manager          IT
4  E01639        Austin Vo               Sr. Analyst     Finance
5  E00644     Joshua Gupta    Account Representative       Sales
6  E01550      Ruby Barnes                   Manager          IT
7  E04332      Luke Martin                   Analyst     Finance
8  E04533    Easton Bailey                   Manager  Accounting
9  E03838  Madeline Walker               Sr. Analyst     Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409
5               Corporate    Male      Asian   57 2017-01-24          50994
6               Corporate  Female  Caucasian   27 2020-07-01         119746
7           Manufacturing    Male      Black   25 2020-05-16          41336
8           Manufacturing    Male  Caucasian   29 2019-01-25         113527
9     Speciality Products  Female  Caucasian   34 2018-06-13          77203

   Bonus %        Country       City  Exit Date
0     0.15  United States    Seattle 2021-10-16
1     0.00          China  Chongqing        NaT
2     0.20  United States    Chicago        NaT
3     0.07  United States    Chicago        NaT
4     0.00  United States    Phoenix        NaT
5     0.00          China  Chongqing        NaT
6     0.10  United States    Phoenix        NaT
7     0.00  United States      Miami 2021-05-20
8     0.06  United States     Austin        NaT
9     0.00  United States    Chicago        NaT
       EEID          Full Name             Job Title       Department  \
990  E01578       Anthony Hong            Sr. Manger               IT
991  E03430        Leo Herrera  Sr. Business Partner  Human Resources
992  E03058      Robert Wright   Technical Architect               IT
993  E04762  Audrey Richardson              Director               IT
994  E01148     Scarlett Kumar       Systems Analyst               IT
995  E03094       Wesley Young           Sr. Analyst        Marketing
996  E01909       Lillian Khan               Analyst          Finance
997  E04398        Oliver Yang              Director        Marketing
998  E02521        Lily Nguyen           Sr. Analyst          Finance
999  E03545        Sofia Cheng        Vice President       Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
990  Research & Development    Male      Asian   37 2010-11-29         146961
991  Research & Development    Male     Latino   48 1998-04-22          85369
992           Manufacturing    Male  Caucasian   30 2015-06-14          67489
993           Manufacturing  Female  Caucasian   46 2018-10-06         166259
994               Corporate  Female      Asian   55 2009-01-07          47032
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country      City  Exit Date
990     0.11  United States  Columbus        NaT
991     0.00         Brazil    Manaus 2004-11-27
992     0.00  United States   Chicago        NaT
993     0.17  United States   Chicago        NaT
994     0.00  United States  Columbus        NaT
995     0.00  United States  Columbus        NaT
996     0.00          China   Chengdu 2018-01-08
997     0.15  United States     Miami        NaT
998     0.00          China   Chengdu        NaT
999     0.31  United States     Miami        NaT

In [47]:
gp = data.groupby(["Department","Country","Gender"]).agg({"Annual Salary":"max"})
print(gp)

                                      Annual Salary
Department      Country       Gender
Accounting      Brazil        Female         258426
                              Male            98769
                China         Female         188727
                              Male           187389
                United States Female         253294
                              Male           252325
Engineering     Brazil        Female         240488
                              Male           189680
                China         Female         221465
                              Male           222941
                United States Female         255431
                              Male           254289
Finance         Brazil        Female         255369
                              Male           247939
                China         Female         249686
                              Male           162038
                United States Female         231567
                              Male           250767
Human Resources Brazil        Female         249801
                              Male           181247
                China         Female         211291
                              Male           195385
                United States Female         231850
                              Male           250953
IT              Brazil        Female         159044
                              Male           247874
                China         Female         167100
                              Male           234723
                United States Female         246589
                              Male           256561
Marketing       Brazil        Female         219474
                              Male           206624
                China         Female         182321
                              Male           257194
                United States Female         249270
                              Male           256420
Sales           Brazil        Female         154973
                              Male           249506
                China         Female         218530
                              Male           216949
                United States Female         258498
                              Male           258081

In [43]:
gp1= data.groupby("Country").agg({"Age":"mean"})
print(gp1)

                     Age
Country
Brazil         43.654676
China          45.389908
United States  44.197512

In [48]:
gp1= data.groupby(["Country","Gender"]).agg({"Annual Salary":"max","Age":"min"})
print(gp1)

                      Annual Salary  Age
Country       Gender
Brazil        Female         258426   25
              Male           249506   26
China         Female         249686   25
              Male           257194   25
United States Female         258498   25
              Male           258081   25